USE [master]
GO
/****** Object:  Database [MeroDB]    Script Date: 5/17/2017 08:42:56 AM ******/
CREATE DATABASE [MeroDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MeroDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MeroDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MeroDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MeroDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MeroDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MeroDB]
GO
/****** Object:  Table [dbo].[Counter]    Script Date: 5/17/2017 08:42:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Counter](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[count] [int] NOT NULL CONSTRAINT [DF_Counter_count]  DEFAULT ((0)),
 CONSTRAINT [PK_Counter] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
